
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

html {
  min-height: 100%;
}

body {
  background-color: rgb(25,25,25); 
  color: rgba(255,255,255,.75);
  font-family: 'Anonymous Pro', monospace; 
  height: calc(100vh - 8em);
  padding: 4em;  
}

.content {
    display: block;
    font-family: 'Anonymous Pro', sans-serif;
    height: auto;
    margin: auto;
    position: relative;
    text-align: center;
    width: -webkit-calc(70%);
}

.kill {
    background-color: rgb(25,25,25);
    border: 1px solid rgba(255,255,255,.75);
    border-radius: 5px;
    color: rgba(255,255,255,.75);
    display: inline-block;
    font-family: 'Anonymous Pro', sans-serif;
    font-size: 1.5em;
    margin: 1em;
    padding: 1em;
    text-align: center;
    text-decoration: none;
}

.kill:hover {
    background-color: rgba(255,255,255,.75);
    color: rgb(25,25,25);
}

.items {
    background-color: rgb(25,25,25);
    border: 1px solid rgba(255,255,255,.75);
    border-radius: 5px;
    color: rgba(255,255,255,.75);
    display: inline-block;
    font-family: 'Anonymous Pro', sans-serif;
    font-size: 1.5em;
    margin: 1em;
    padding: 1em;
    text-align: center;
    text-decoration: none;
}

.container {
    background-color: rgb(25,25,25);
    border: 1px solid rgba(255,255,255,.75);
    border-radius: 5px;
    color: rgba(255,255,255,.75);
    display: inline-block;
    font-family: 'Anonymous Pro', sans-serif;
    font-size: 1.5em;
    margin: 1em;
    padding: 1em;
    text-align: center;
    text-decoration: none;
}

.row {
    background-color: rgb(25,25,25);
    border: 1px solid rgba(255,255,255,.75);
    border-radius: 5px;
    color: rgba(255,255,255,.75);
    display: inline-block;
    font-family: 'Anonymous Pro', sans-serif;
    font-size: 1.5em;
    margin: 1em;
    padding: 1em;
    text-align: center;
    text-decoration: none;
}

.col-md-4 {
    background-color: rgb(25,25,25);
    border: 1px solid rgba(255,255,255,.75);
    border-radius: 5px;
    color: rgba(255,255,255,.75);
    display: inline-block;
    font-family: 'Anonymous Pro', sans-serif;
    font-size: 1.5em;
    margin: 1em;
    padding: 1em;
    text-align: center;
    text-decoration: none;
}
main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 5fr));
}
.card {
    background-color: rgb(25,25,25);
    border: 1px solid rgba(255,255,255,.75);
    border-radius: 5px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 5fr));
    color: rgba(255,255,255,.75);
    font-family: 'Anonymous Pro', sans-serif;
    font-size: 1.5em;
    margin: 1em;
    padding: 1em;
    text-align: center;
    text-decoration: none;
}

.card-body {
    background-color: rgb(25,25,25);
    border: 1px solid rgba(255,255,255,.75);
    border-radius: 5px;
    color: rgba(255,255,255,.75);
    display: inline-block;
    font-family: 'Anonymous Pro', sans-serif;
    font-size: 1.5em;
    margin: 1em;
    padding: 1em;
    text-align: center;
    text-decoration: none;
}

.card-title {
    background-color: rgb(25,25,25);
    border: 1px solid rgba(255,255,255,.75);
    border-radius: 5px;
    color: rgba(255,255,255,.75);
    font-family: 'Anonymous Pro', sans-serif;
    font-size: 1.5em;
    text-align: center;
    text-decoration: none;
    max-width: 100%;
    overflow: hidden;
    padding: 5%;
  }
  
  
  

.card-title:hover {
    background-color: rgba(255,255,255,.75);
    color: rgb(25,25,25);
}

.card-text {
    background-color: rgb(25,25,25);
    border: 1px solid rgba(255,255,255,.75);
    border-radius: 5px;
    color: rgba(255,255,255,.75);
    display: inline-block;
    font-family: 'Anonymous Pro', sans-serif;
    font-size: 1.5em;
    margin: 1em;
    padding: 1em;
    text-align: center;
    text-decoration: none;
}

.card-text:hover {
    background-color: rgba(255,255,255,.75);
    color: rgb(25,25,25);
}

