<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <title>FLOPRR</title>
</head>

<body>
  <h1>HEY<h1>
  <p class="content">
    <span class="typewrite anim-typewrite js-typewrite"></span>
  </p>
  <script src="static/loading_animation.js"></script>
</body>

</html>
