<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <title>FLOPRR</title>
  </head>
  <body>
    <header>
        <h1>GROUP IRONMAN STATS</h1>
    </header>
    <main>
        {% for player in players %}
            <div class="card">
                <a href="{{ url_for('player_stats', player=player) }}"><h5 class="card-title">{{ player }}</h5></a>
                    <ul>
                        {% for npc in players[player] %}
                        <a href={{ url_for('npc_kill_get', player=player, npc=npc) }}
                            <li>{{ npc }}</li>
                        </a>
                        {% endfor %}
                    </ul>
                </p>
            </div>
        {% endfor %}
    </main>
</body>
</html>