<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <title>FLOPRR</title>
</head>

<body>
  <h1>ROBIN VS WESSEL VS JORDI VS CANER<h1>
  <h2>WIE GAINED DE MEESTE GAINS?</h2>
  <div class="players">
    {% for player in players %}
    <div class="player">
      <h3>{{ player.name }}</h3>
      <p>{{ player.total_level }}</p>
      <p>{{ player.total_xp }}</p>
    </div>
    {% endfor %}
</body>

  
  