<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <title>FLOPRR</title>
  </head>
  <body>
    <header>
        <h1>GROUP IRONMAN STATS</h1>
    </header>
    <main>
        <div class="card">
            <h5 class="card-title">{{ player }}</h5>
            <p>basic stats</p>
            <p>total level: {{ total }}</p>
              <p></p>total xp: {{ xp }}</p>
    </main>
</body>
</html>